.page {
  background: var(--color-background);
  color: var(--color-off-black);
  padding: 110rem var(--grid-margin) 80rem;
}

@media (max-width: 860px) {
  .page {
    padding: 88rem var(--grid-margin) 60rem;
  }
}
