.wrapper {
  padding: calc(var(--header-height) + var(--grid-margin) * 2)
    var(--grid-margin) var(--grid-margin);
  max-width: 700rem;
}

.title {
  font-size: var(--font-size-heading);
  font-weight: 700;
  font-stretch: expanded;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: var(--grid-margin);
}

.body {
  font-size: var(--font-size-small);
  line-height: var(--line-height-alt);
  text-transform: none;
  letter-spacing: normal;
}

.body p {
  margin-bottom: var(--gap);
}

.body h2,
.body h3 {
  font-weight: 700;
  font-stretch: expanded;
  text-transform: uppercase;
  margin: var(--gap) 0 var(--gap-s);
}

.updated {
  font-size: var(--font-size-tiny);
  color: var(--color-medium-grey);
  letter-spacing: var(--letter-spacing-base);
  text-transform: uppercase;
  margin-top: var(--grid-margin);
}

@media (max-width: 900px) {
  .title {
    font-size: 22rem;
  }
}
